body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif'
}
#head {
    width: 100vw;
}

.page-header {
    margin-bottom: 1.25rem;
}

.fa-thumbs-up {
    color: #17c400;
    padding-right: 15px;
    float: right;
}

.fa-thumbs-down {
    color: #ff4343;
    float: right;
}

/* .container {
    margin: 10px;
} */

h2 {
    font-weight: bold;
}
.category, .location, .filters {
    color: rgb(169,14,21);
    text-shadow: 2px 2px rgb(255,201,14);
    font-weight: bold;
    text-align: center;
    margin: -.5em;
}       


#list, #location-input {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(255,201,14);
    border: 5px solid rgb(169,14,21);
    color: rgb(169,14,21);
    font-weight: bold;
    text-shadow: 2px 2px darkorange;
}

#location-input {
    width: 75%;
    margin: 0;
}

.filter {
    color: darkorange;
    text-shadow: 1px 1px rgb(255,201,14);
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

/* #filterList {
    /* padding: .1rem; */
/* } */

#eat {
    color: rgb(169,14,21);
    text-shadow: 2px 2px darkorange;
    font-weight: bold;
    border: 5px solid rgb(169,14,21);
    text-align: center;
    align-content: center;
    margin: 1rem auto;
    display: inherit;
    width: 50%;
    margin-bottom: .25rem;
}

.restaurant {
    color: rgb(169,14,21);
    text-shadow: .5px 1px rgb(255,201,14);
    font-weight: bold;
    margin-bottom: 1rem;
    
}

.restaurant-map {
    width: .25vw; 
    height: .25vh;
}

.results-page {
    background-color: rgb(250, 252, 147)
}