body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif'
}
#head {
    width: 100vw;
}

.page-header {
    margin-bottom: 1rem;
}

/* .container {
    margin: 10px;
} */

h2 {
    font-weight: bold;
}
.category, .location, .filters {
    color: rgb(169,14,21);
    text-shadow: 2px 2px rgb(255,201,14);
    font-weight: bold;
}       


#list {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 1rem auto;
    background-color: rgb(255,201,14);
    border: 5px solid rgb(169,14,21);
    color: rgb(169,14,21);
    font-weight: bold;
    text-shadow: 2px 2px darkorange;
}

.category, .location, .filters {
    margin-top: 1rem;
    text-align: center;
}

.filter {
    color: darkorange;
    text-shadow: 1px 1px rgb(255,201,14);
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

#filterList {
    padding: 1rem;
}

#eat {
    color: rgb(169,14,21);
    text-shadow: 2px 2px darkorange;
    font-weight: bold;
    border: 5px solid rgb(169,14,21);
    text-align: center;
    align-content: center;
    margin: 0 auto;
    display: inherit;
    width: 50%;
}