body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif'
}
#head {
    width: 100vw;
}

.page-header {
    margin-bottom: 1.25rem;
}

.restInfo {
    font-size: 14px;
    text-align: center;
    margin: -.75rem;
}

#priceRange{
    border-top: 1px gray;
}

#distance {
    float: left;
    padding-left: 1.5rem;
}

#phone {
    float: right;
    padding-right: 1.5rem;
    /* padding-bottom: 1rem; */
}

.fa-thumbs-up {
    color: #17c400;
    padding-right: 15px;
    float: right;
}

.fa-thumbs-down {
    color: #ff4343;
    float: right;
}

/* .container {
    margin: 10px;
} */

h2 {
    font-weight: bold;
}
.category, .location, .filters {
    color: rgb(169,14,21);
    text-shadow: 2px 2px rgb(255,201,14);
    font-weight: bold;
    text-align: center;
    margin: -.5em;
}       

.card, #priceRange, #rating {
    background-color: rgb(252, 253, 156)
}

.card {
    margin-bottom: 1rem;
}

#name {
    margin-bottom: 0px;
    font-weight: bold;
}

.pCard {
    margin-bottom: 0px;
}

#priceRange {
    padding-top: -1rem;
    padding-bottom: -12px;
}

#rating {
    padding-top: 0px;
}

.resultsBody {
    background-color: lightcoral;
}

#list, #location-input {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(255,201,14);
    border: 5px solid rgb(169,14,21);
    color: rgb(169,14,21);
    font-weight: bold;
    text-shadow: 2px 2px darkorange;
}

#location-input {
    width: 75%;
    margin: 0;
}

.filter {
    color: darkorange;
    text-shadow: 1px 1px rgb(255,201,14);
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

#open {
    float: right;
    height: 15%;
    width: 15%
}


/* #filterList {
    /* padding: .1rem; */
/* } */

#eat {
    color: rgb(169,14,21);
    text-shadow: 2px 2px darkorange;
    font-weight: bold;
    border: 5px solid rgb(169,14,21);
    text-align: center;
    align-content: center;
    margin: 1rem auto;
    display: inherit;
    width: 50%;
    margin-bottom: .25rem;
}

.restaurant {
    color: rgb(169,14,21);
    text-shadow: .5px 1px rgb(255,201,14);
    font-weight: bold;
    margin-bottom: 1rem;
    
}

.restaurant-map {
    width: .25vw; 
    height: .25vh;
}

.prices {
    height: 25px;
    margin-top: -1.5rem;
    margin-bottom: -1.5rem;
}

.results-page {
    background-color: rgb(250, 252, 147)
}
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#login-button {
  background-color: darkorange;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}