body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("../images/tabletop.jpeg");
    /* height: 100vh;
    width: 100vw; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#head {
    max-height: 20vh;
    max-width: 100vw;
    text-align: center;
}

.page-header {
    margin: 0 !important;
    border-bottom: 0px !important;
    padding-bottom: 0 !important;
    background-color: white;
}

#top {
    max-height: 20vh;
}

#stripes {
    max-height: 3vh;
    width: 100%;
    vertical-align: bottom;
    background-color: white;
}

#search-results {
    display: flex;
    flex-wrap: wrap;
    
}

label {
    margin-top: .25rem;
    padding: .10rem;
}
.searchCon {
    width: 100vw;

}

.navvy {
    text-align: center;
    margin: 0 auto;
    background-color: #169BE7 !important;
    color: white !important;
    font-weight: bold;
    box-shadow: -1px 8px 16px 2px rgba(0, 0, 0, 0.36);
    /* text-shadow: 2px 2px darkorange !important; */

}

input[type=checkbox]
{
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  margin: 10px;
}

.btn-filters {
    /* min-width: auto; */
    width: 20vw;
    min-width: 30vw;
    font-size: large !important;
    font-weight: bold !important;
    color: #a90e15 !important;
    background-color: rgb(255,201,14) !important;
    border: 5px solid rgb(169,14,21) !important;
    /* display: flex;
    flex-wrap: wrap; */
}

.navbar {
    display: inline !important;
    margin: 0 !important;
}
.navbar-brand {
    margin: 0 !important;
}
.wheels {
    text-align: center;
}
.data-wheelnav-navitemtext {
    color: rgb(255,201,14) !important;
}
.category {
    padding-top: .5rem;
}

.food {
    max-width: 95vw;
}

.nav {
    color: rgb(169,14,21) !important;
    height: 20vh;
    
}

.fa-hamburger, .nav-link {
    color: white !important;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;;
 }

.restInfo {
    font-size: 14px;
    text-align: center;
    margin: 0rem;
}

#priceRange{
    border-top: 1px gray;
}

#distance {
    float: left;
    padding-left: 1.5rem;
}

#phone {
    float: right;
    padding-right: 1.5rem;
    /* padding-bottom: 1rem; */
}

.fa-thumbs-up {
    color: #17c400;
    padding-right: 15px;
    float: right;
}

.fa-thumbs-down {
    color: #ff4343;
    float: right;
}


h2 {
    font-weight: bold;
    padding: .75rem;
    margin-bottom: 0 !important;
    padding: 0 !important;
}
.category, .location, .filters, .filterWheel {
    color: rgb(169,14,21);
    font-weight: bold;
    text-align: center;
    margin: -.5em;
}       

.filterWheel {
    margin: 0;
}
.card, #priceRange, #reviews {
    background-color: rgb(252, 253, 156);
}

.shadow {
    box-shadow: -1px 1px 16px 1px rgba(0, 0, 0, 0.36);
}

#cardMapImg {
    width: 98%;
    height: auto; 
    padding: 10px 5px 5px 10px;
}

.card {
    margin: .5em;
    max-width: 500px;
}

.no-gutters {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

#name {
    margin-bottom: 0px;
    font-weight: bold;

}

#card-name {
    text-align: center;
}

.card-title {
    margin-bottom: .25rem;
}


.pCard {
    margin-bottom: 0px;
}

#priceRange {
    padding-top: -1rem;
    padding-bottom: -12px;
}

#reviews {
    padding-top: 0px;
}

.resultsBody {
    background-color: rgb(218, 216, 216);
}

#list, #location-input, #favoriteDropdown, #blacklistDropdown, .btnStyle {
    width: 20rem;
    height: auto;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    background: linear-gradient(0deg, #7474D1, #169BE7);
    border: 1px solid #7474D1;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    min-width: fit-content;
    box-shadow: -1px 1px 16px 1px rgba(0, 0, 0, 0.36);
}
#location-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(206, 206, 206);
    opacity: 1; /* Firefox */
  }

#price, #rating, #radius {
    width: 25vw;
    height: 4rem;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    background: linear-gradient(0deg, #7474D1, #169BE7);
    border: 1px solid #7474D1;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    font-size: larger;
    box-shadow: -1px 1px 16px 1px rgba(0, 0, 0, 0.36);
}

.filter {
    color: #ff8000;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

#open {
    float: right;
    height: 15%;
    width: 15%
}


#eat {
    color: white;
    font-weight: bold;
    background: linear-gradient(0deg, #7474D1, #905CB9);
    border: 1px solid #7474D1;
    border-radius: 3px;
    text-align: center;
    align-content: center;
    margin: 1rem auto;
    display: inherit;
    width: 12rem;
    margin-bottom: 3rem;
    box-shadow: -1px 1px 16px 1px rgba(0, 0, 0, 0.36);
}

.btn-primary {

    background-color: #ffc90e !important;
    border: 5px solid rgb(169,14,21) !important;
    color: rgb(169,14,21) !important;
    font-size: large !important;
    font-weight: bold !important;
    width: 30vw;
}

.restaurant {
    color: rgb(169,14,21);
    font-weight: bold;
    margin-bottom: 1rem;
    
}

.col-6 {
    margin: 0;
}

.map {
    width: 98%;
    height: auto;
    padding: 10px 5px 5px 10px;
}

.prices {
    height: 25px;
    margin-top: -1.5rem;
    margin-bottom: -1.5rem;
}

.results-page {
    background-color: rgb(250, 252, 147)
}
/* body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;} */

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#login-button {
  background-color: darkorange;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: .25rem !important;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.modal-confirm {		
    color: #434e65;
    width: 525px;
}
.modal-confirm, .modal-content {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
.modal-confirm, .modal-header {
    background: #e85e6c;
    border-bottom: none;   
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
}
.modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px; 
}
.modal-confirm .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    text-shadow: none;
    opacity: 0.5;
}
.modal-confirm .close:hover {
    opacity: 0.8;
}
.modal-confirm .icon-box {
    color: #fff;		
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    padding: 15px;
    text-align: center;
}
.modal-confirm .icon-box i {
    font-size: 58px;
    margin: -2px 0 0 -2px;
}
.modal-confirm.modal-dialog {
    margin-top: 80px;
}
.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #eeb711;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border-radius: 30px;
    margin-top: 10px;
    padding: 6px 20px;
    min-width: 150px;
    border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
    background: #eda645;
    outline: none;
}

@media screen and (max-width: 776px) {
  
  #price, #rating, #radius {
      width: 32vw;
      height: 4rem;
      text-align: center;
      margin: 0 auto;
      color: white;
      font-weight: bold;
      font-size: small;
      padding: .15rem !important;
      
  }
}

@media screen and (max-height: 800px) {
  
    #price, #rating, #radius {
        width: 32vw;
        height: 4rem;
        text-align: center;
        margin: 0 auto;
        color: white;
        font-weight: bold;
        font-size: small;
        padding: 0rem .15rem !important;
        
    }

    conBox {
        margin: 0 !important;
    }
}
